@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

nav div {
    width: 60%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-around;
}

nav {
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #222222;

}

.head {
    background-color: #F1F5F8;
    padding: 100px 30px;


}

.head h1 {
    margin-left: 7%;
    font-size: 25px;
    color: #235275;
    font-size: 25px;
}

section {
    margin-top: 150px;
}

section h3 {
    font-weight: 900;
    font-size: 40px;
    color: #BA5D2C;

}

section h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;

}
.txt{
    padding: 20px 300px;
    font-size: 22px;
    color: #235275;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}
.txt h4{
    line-height: 37px;
    text-align: center;
}